<div class="container-fluid bg-indigo">
    <div class="row justify-content-center vh-100 align-items-center">
        <div class="col-lg-4">
            <div class="p-2 rounded bg-white text-center py-3">
                <h1 class="text-center mb-0">Main Page</h1>
                <a class="text-indigo fw-bold" href="/user/login"><i class="fas fa-sign-in-alt"></i> Login Page</a>
            </div>
        </div>
    </div>
</div>